@model System.Data.DataTable

@{
    ViewBag.Title = "Home Page";
}

<div>
    <div >
        <div style="float:left">
            <h4>For adding information to database, send e-mail to address zip@leocode.ru with attached csv file</h4>
        </div>
        <div>
            <button type="button" class="btn btn-success" name="check">Check e-mail's</button>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>ID</th><th>Производитель</th><th>Номер запчасти</th><th>Производитель для поиска</th><th>Номер для поиска</th><th>Наименование</th><th>Цена</th><th>Количество</th></tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Rows.Count; i++)
            {
                <tr>
                    <td>@Model.Rows[i][0]</td>
                    <td>@Model.Rows[i][1]</td>
                    <td>@Model.Rows[i][2]</td>
                    <td>@Model.Rows[i][3]</td>
                    <td>@Model.Rows[i][4]</td>
                    <td>@Model.Rows[i][5]</td>
                    <td>@Model.Rows[i][6]</td>
                    <td>@Model.Rows[i][7]</td>
                </tr>
            }
        </tbody>
    </table>
</div>