@model IEnumerable<ZipStore.Entities.ZipItem>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <div >
        <div style="float:left">
            <h4>For adding information to database, send e-mail to address zip@leocode.ru with attached csv file</h4>
        </div>
        <div>
            <button type="button" class="btn btn-success" name="check">Check e-mail's</button>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>ID</th><th>Производитель</th><th>Номер запчасти</th><th>Производитель для поиска</th><th>Номер для поиска</th><th>Наименование</th><th>Цена</th><th>Количество</th></tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Vendor</td>
                    <td>@item.Number</td>
                    <td>@item.SearchVendor</td>
                    <td>@item.SearchNumber</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.Count</td> 
                </tr>
            }
        </tbody>
    </table>
</div>