@model ZipStore.Models.ZipListViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>
    <div style="margin: 30px 0; width: auto">
        <div style="float:left; width:auto; margin:20px 0">
            <p> For adding information to database, send e-mail to address: <a href="mailto:&#122;&#105;&#112;&#64;&#108;&#101;&#111;&#99;&#111;&#100;&#101;&#46;&#114;&#117;">&#122;&#105;&#112;&#64;&#108;&#101;&#111;&#99;&#111;&#100;&#101;&#46;&#114;&#117;</a> with attached csv file</p>
        </div>
        <div style="float:left; width: 150px; margin: 12px 20px">
            <button type="button" class="btn btn-success" name="check">Check e-mail's</button>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><th>ID</th><th>Производитель</th><th>Номер запчасти</th><th>Производитель для поиска</th><th>Номер для поиска</th><th>Наименование</th><th>Цена</th><th>Количество</th></tr>
        </thead>
        <tbody>
            @foreach(var item in Model.ZipItems)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Vendor</td>
                    <td>@item.Number</td>
                    <td>@item.SearchVendor</td>
                    <td>@item.SearchNumber</td>
                    <td>@item.Description</td>
                    <td>@item.Price</td>
                    <td>@item.Count</td> 
                </tr>
            }
        </tbody>
    </table>
</div>